.a1{
    width: 100%;
    height: 220PX;
    background-color: rgb(58, 72, 86);
    padding: 100px;
}
.a2{
    float: left;
    width: 15%;
    height: 230PX;
    background-color: rgb(58, 72, 86);
    margin-left: 150px;
    border-radius: 160px;
    
}
.a3{
    width: 100%;
    height: 700px;
    /* background-color: aquamarine; */
}
.a4{float: left;
    padding: 0px;
    width: 50%;
    height: 700px;
    /* background-color: rgb(201, 201, 201); */
}
.a5{float: left;
    padding: 0px;
    width: 50%;
    height: 700px;
    /* background-color: rgb(229, 44, 44); */
}
.a6{
    width: 100%;
    height: 560px;
       
    margin: 0px;
}
.a7{
    float: left;
    width: 50%;
    height: 500px;
    
}
.a8{
    float: left;
    width: 50%;
    height: 500px;
    
}